body {
    font-family: 'Nunito', sans-serif;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

#heading-element {
    margin: auto;
    width: 50%;
    position: relative;
    padding-top: 15%;
    text-align: center;
}

#logged-user {
    font-weight: 250;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#mail-element {
    border: 0.5px solid #007bff;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.reply, .archive, .unarchive, .unread {
    display: inline-block;
    color: #007bff;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.reply:hover, .archive:hover, .unarchive:hover, #unread:hover {
    display: inline-block;
    color: #00a6ff;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#reply, #archive, #unarchive, #unread {
    display: inline-block;
    color: #007bff;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#reply:hover, #archive:hover, #unarchive:hover, #unread:hover {
    display: inline-block;
    color: #00a6ff;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#mail-timestamp {
    color: grey;
    font-weight: 25;
}

#mail-sender {
    display: inline-block;
    font-weight: 25;
}

#mail-subject {
    display: inline-block;
    padding-left: 20px;
    font-weight: 25;
}

.annotation {
    display: inline-block; 
    padding-left: 5px;
    padding-right: 15px;
}

/* To remove highlight/focus on click. Src: https://stackoverflow.com/questions/19053181/how-to-remove-focus-around-buttons-on-click */
.btn:focus {
    outline: none;
    box-shadow: none;
}

#login-button, #register-button {
    margin-bottom: 10px;
}