textarea {
    resize: none;
}

#mail-element {
    border: 0.5px solid grey;
    border-radius: 3px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 5px;
}

#reply {
    display: inline-block;
    padding-right: 15px;
    color: #007bff;
}