{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="title"><i class="far fa-envelope"></i> Mail</h2>
    <h4 id="logged-user">Logged in as: <strong>{{ request.user.email }}</strong></h2>
    <button class="btn btn-sm btn-outline-primary" id="inbox">
        <i class="fas fa-inbox"></i> Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">
        <i class="fas fa-envelope"></i> Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">
        <i class="far fa-paper-plane"></i> Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">
        <i class="fas fa-trash"></i> Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">
        <i class="fas fa-sign-out-alt"></i> Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <!-- onsubmit="return false" will not refresh page upon POST AJAX -->
        <!-- src: https://www.codexpedia.com/javascript/submitting-html-form-without-reload-the-page/ -->
        <form id="compose-form" onsubmit="return false">
            <div class="form-group">
                From: <input disabled id="compose-sender" class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body" rows="4"></textarea><br>
            <input type="submit" class="btn btn-primary" value="Send Email"/>
        </form>
    </div>

    <div id="reply-view">
        <h3>Reply Email</h3>
        <!-- onsubmit="return false" will not refresh page upon POST AJAX -->
        <!-- src: https://www.codexpedia.com/javascript/submitting-html-form-without-reload-the-page/ -->
        <form id="reply-form" onsubmit="return false">
            <div class="form-group">
                To: <input id="reply-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="reply-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="reply-body" placeholder="Body" rows="4"></textarea><br>
            <h3>Your Reply</h3>
            <textarea class="form-control" id="reply-body-editable" placeholder="Body" rows="4"></textarea><br>
            <input type="submit" class="btn btn-primary" value="Reply"/>
        </form>
    </div>

    <div id="read-view">
        <div id="from">
        </div>
        <div id="to">
        </div>
        <div id="subject">
        </div>
        <div id="timestamp">
        </div>
        <hr>
        <div id="body">
        </div>
        <div id="reply">
            <i class="fas fa-reply"></i>
            <p class="annotation">Reply</p>
        </div>
        <div id="archive">
            <i class="fas fa-trash"></i>
            <p class="annotation">Archive</p>
        </div>
        <div id="unarchive">
            <i class="fas fa-trash-restore"></i>
            <p class="annotation">Unarchive</p>
        </div>
        <div id="unread">
            <i class="fas fa-envelope"></i>
            <p class="annotation">Mark as Unread</p>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}